/* @tailwind base; */
@import './reset.css';
@import '##/styles/test.css';

@tailwind components;
@tailwind utilities;

h1 {
  font-size: 2rem;
  color: green;
}

header {
  a {
    color: red;
  }
}
